<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="css/screen.css">

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <header>
            <div class="container"><div class="row">
                <ul class="span5 offset7">
                    <li><a href="#overview">Overview</a></li>
                    <li><a href="#build">Build Tool</a></li>
                    <li><a href="#templates">Templates</a></li>
                    <li class="last"><a href="#contributing">Contributing</a></li>
                </ul>
            </div></div>
        </header>
        <section id="hero"><div class="bghook">
            <div class="container">
                <h1>bb<span>Clear</span></h1>
                <p>a Presentation Framework<br/>for Health Records</p>
            </div>
        </div></section>
        <section id="pitch">
            <div class="container"><div class="row">
                <p class="span8"><strong>bbClear</strong> is an open-source framework for rendering more usable health records. It enables developers of electronic health record systems to output a printed health record that is more helpful for patients, their families, and caregivers.</p>
                <div id="try" class="span4">
                    <h2>See it in Action</h2>
                    <a href="./bluebutton.html" class="btn"><small>View the</small><big>Sample Record</big></a>
                    <a href="http://github.com/mjacksonw/bluebutton/" class="btn"><small>Download the</small><big>Source Code</big></a>
                </div>
            </div></div>
        </section>
        <section id="content">
            <div class="container">
                <div id="overview" class="row chapter">
                    <h1 class="span12">Overview</h1>
                    <p class="span10 offset2">
                        bbClear was created as a result of a community-driven effort that stemmed from the Health Design Challenge. The Department of Veterans Affairs and California HealthCare Foundation contributed engineering resources to the development of the framework.
                    </p>
                    <ul id="overview-components" class="frame span12">
                        <li id="overview-components-record">Patient Record in CCD/XML format</li>
                        <li id="overview-components-bbjs">bluebutton.js conversion library</li>
                        <li id="overview-components-libraries">Assorted JS libraries like jQuery</li>
                        <li id="overview-components-js">Functional logic using JavaScript</li>
                        <li id="overview-components-css">Styles using CSS and/or SASS</li>
                        <li id="overview-components-template">Markup template using swig.js</li>
                        <div class="caption">The contents of a bbClear health record HTML file</div>
                    </ul>
                    <p class="span10 offset2">bbClear produces a patient-consumable version of a health record in the form of a monolithic HTML file, including inline scripts, styles, and a simple but powerful templating framework. By including the content of industry-standard XML documents like the CCD in the source of the HTML document, you can structure and style the record data more easily than ever.</p>
                    <p class="span10 offset2">While you can include almost any front-end web technology in a bbClear document, there are some core components in play:</p>
                    <p class="pullnote span2">In addition to these, the default bbClear theme includes familiar libraries like Modernizr and jQuery.</p>
                    <ul class="span10">
                        <li><strong>The Build Tool</strong> &mdash; This is a relatively simple Python script that collects the assets for use in the final document, processes them, and compiles them into the monolithic HTML file.</li>
                        <li><strong><a href="http://github.com/bluebutton/bluebutton.js/">BlueButton.js</a></strong> &mdash; a library developed by <a href="http://blacktm.com">Tom Black</a> and the bbClear team, which ingests health record documents (especially CCD) and produces a friendly Javascript API.</li>
                        <li><strong>bbclear.js</strong> &mdash; This script initializes a bbClear theme, configuring the templating system, as well as providing several useful filters and tools for working with data.</li>
                    </ul>
                    <p class="span10 offset2">bbClear is <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache licensed</a>, which provides very broad permission to take, adapt, and modify bbClear to your own needs. We'd love to see the community make bbClear even better.</p>
                </div>
                <div id="build" class="row chapter">
                    <h1 class="span12">Build Tool &amp; Themes</h1>
                    <h2 class="span10 offset2">Usage</h2>
                    <p class="span10 offset2">The bbClear build tool is a Python script that collects assets and templates from themes and assembles them into the final, self-contained BlueButton HTML file. Typically, you use it from the command line:</p>
                    <pre class="span12">
$ python build_tool.py [-h | --help] [-v | --verbose] [-w | --watch] [-t | --theme THEME]
</pre>
                    <p class="span10 offset2">Where the options are as follows:</p>
                    <dl class="span10 offset2">
                        <dt>-h | --help</dt>
                        <dd>Displays syntax help, describing these options.</dd>
                        <dt>-v | --verbose</dt>
                        <dd>Displays extra output, useful for debugging or more information.</dd>
                        <dt>-f | --force</dt>
                        <dd>Forces a build, even if no asset files have changed since the last build.</dd>
                        <dt>-w | --watch</dt>
                        <dd>Watch. Continues running the build tool, watches for file changes to assets (scripts, styles, or the template), and rebuilds when one is found. Cannot be used at the same time as <code>--force</code>.</dd>
                        <dt>-d | --data [DATA_FILE]</dt>
                        <dd>Specifies the file to use when data is injected, found in the same folder as build_project.py. Defaults to <code>data.xml</code>. Note that data files are optional -- if one is not found, the build tool will insert a placeholder into the final document.</dd>
                        <dt>-t | --theme [THEME]</dt>
                        <dd>Builds a particular theme, where <code>[THEME]</code> is a directory under <code>themes/</code>. Defaults to <code>official</code>.</dd>
                    </dl>
                    <h2 class="span10 offset2">Notes</h2>
                    <p class="span10 offset2">The bbClear build tool currently expects a few things:</p>
                    <ul class="span10 offset2">
                        <li>It looks for a file in the same directory called <code>data.xml</code> to embed into the final document. If this file does not exist, it creates a placeholder for injecting XML data later.</li>
                        <li>It looks for a <code>themes/</code> directory in the same directory as the build script. Inside, it expects to find one directory for each theme.</li>
                        <li>Within theme directories, it expects to find a <code>js</code> directory with scripts to include, a <code>stylesheets</code> directory with CSS to include, and a <code>template.html</code> file.
                    </ul>
                    <p class="span10 offset2">In the future, more of these options will be configurable.</p>

                </div>
                <div id="templates" class="row chapter">
                    <h1 class="span12">Templates</h1>
                    <p class="span10 offset2">The bbClear templating system uses <a href="http://paularmstrong.github.io/swig/docs/">swig.js</a> as its foundation, providing a Django-like syntax that is easy for anyone familiar with HTML to work with. bbClear supports all of swig's template tags and filters, so it's recommended that you take a look through the <a href="http://paularmstrong.github.io/swig/docs/">swig documentation</a>.</p>
                    <p class="span10 offset2">In addition, <code>bbclear.js</code> provides additional functionality for use in your templates.</p>
                    <div class="subchapter span10 offset2">
                        <h2>Basics of outputting data</h2>
                        <p><small>See also: <a href="http://paularmstrong.github.io/swig/docs/#basics">swig basics documentation</a>.</small></p>
                        <h3>Objects from BlueButton.js</h3>
                            <p>The bbClear templating system provides several objects via <a href="http://github.com/bluebutton/bluebutton.js/">Bluebutton.js</a> for access. Refer to that module's documentation for more information about data inside these objects:</p>
                            <ul>
                                <li><code>demographics</code> &mdash; Information about the patient.</li>
                                <li><code>allergies</code> &mdash; This patient's allergies.</li>
                                <li><code>encounters</code> &mdash; This patient's known medical encounters.</li>
                                <li><code>immunizations</code> &mdash; This patient's known immunization record.</li>
                                <li><code>labs</code> &mdash; Laboratory results grouped by lab panel.</li>
                                <li><code>medications</code> &mdash; This patient's known medications, both prescription and OTC.</li>
                                <li><code>problems</code> &mdash; This patient's current and past diagnoses.</li>
                                <li><code>procedures</code> &mdash; Medical procedures (ie. surgeries) performed on this patient.</li>
                                <li><code>vitals</code> &mdash; Vital signs readings for this patient.</li>
                            </ul>
                        <h3>Variables</h3>
                            <p>To display a variable in a template, use double-braces:</p>
                            <pre>
{{demographics.name.last}}</pre>
                            <p>If a variable is not defined, an empty string will be output.</p>
                        <h3>Logic Tags</h3>
                            <p>swig and bbClear provide several tags that perform logic at the template level. These are enclosed in curly-percents:</p>
                            <pre>
{% if demographics.name.last %}
    {{demographics.name.last}}
{% endif %}</pre>
                            <p>See the documentation for other logic tags at your disposal.</p>
                        <h3>Looping through Data</h3>
                            <p>Much of the data coming from BlueButton.js comes in the form of arrays. You can use swig's <code>for</code> tag to loop through any lists necessary:</p>
                            <pre>
{% for allergy in allergies %}
    {% if loop.first %}&lt;ul&gt;{% endif %}
    &lt;li&gt;{{allergy.severity}}: {{allergy.allergen.name}}&lt;/li&gt;
    {% if forloop.last %}&lt;/ul&gt;{% endif %}
{% endfor %}</pre>
                            <p>In the above example, <code>allergy</code> is the variable name for each item in the <code>allergies</code> array.</p>
                    </div>
                    <div class="subchapter span10 offset2">
                        <h2>Template Tags</h2>
                        <p><small>See also: <a href="http://paularmstrong.github.io/swig/docs/#tags">swig template tag documentation</a>.</small></p>
                        <h3>insert</h3>
                            <p>The <code>insert</code> tag is used to pull in assets, like data, scripts, and stylesheets. It can be used three ways:</p>
                            <ul>
                                <li><code>{% insert scripts %}</code> &mdash; pulls in scripts from the <code>themes/[theme]/js/</code> directory, minifies them, and inserts them into the final document in alphabetical order.</li>
                                <li><code>{% insert styles %}</code> &mdash; pulls in CSS stylesheets from the <code>themes/[theme]/stylesheets/</code> directory, minifies them, and inserts them into the final document in alphabetical order.</li>
                                <li><code>{% insert data %}</code> &mdash; looks for <code>data.xml</code> in the bbClear root directory. If found, it's inserted in place of the tag. If not, a placeholder is created for later insertion.</li>
                    </div>  </ul>
                    <div class="subchapter span10 offset2">
                        <h2>Template Filters</h2>
                            <p><small>See also: <a href="http://paularmstrong.github.io/swig/docs/#filters">swig template filter documentation</a>.</small></p>
                            <p>Template filters may be applied to variables or to tags themselves</p>
                        <h3>display_name</h3>
                            <p>Takes a <code>name</code> object (eg: from <code>demographics</code>) and outputs a reasonable first name. If a preferred name is specified, this is returned. Otherwise, the first of the patient's given names is returned.</p>
                        <h3>format_phone</h3>
                            <p>Takes a phone number (eg: <code>demographics.phone.home</code>) and returns a predictably-formatted North American phone number in the XXX.YYY.ZZZZ format.</p>
                        <h3>format_unit</h3>
                            <p>Takes a unit from lab results and reformats scientific notation from <code>10+3</code> to 10<sup>3</sup>.</p>
                        <h3>full_name</h3>
                            <p>Takes a <code>name</code> object (eg: from <code>demographics</code>) and outputs the person's full name, including prefixes, suffixes, given and family names.</p>
                        <h3>gender_pronoun(<em>possessive</em>, <em>absolute</em>)</h3>
                            <p>Given a <code>gender</code> value (eg: from <code>demographics</code>), returns an appropriate pronoun. Takes up to two parameters:</p>
                            <ul>
                                <li><strong>possessive</strong> &mdash; returns "his," "hers," or "her."</li>
                                <li><strong>absolute</strong> &mdash; (only if posessive) returns "her" instead of "hers".</li>
                            </ul>
                            <p>eg: <code>{{demographics.gender|gender_pronoun(true, true)}}</code> returns "his" or "her".</p>
                        <h3>group(<em>key</em>)</h3>
                            <p>Modeled after Django's <a href="https://docs.djangoproject.com/en/dev/ref/templates/builtins/#regroup">regroup tag</a>, this filter groups items in a list based on a common property. Returning a list of groups, which contains a list of objects in that group. It requires one argument:</p>
                            <ul>
                                <li><strong>key</strong> &mdash; the common property that should be used to group items.</li>
                            </ul>
                            <p>The resulting object contains a list of group objects. Each group item has a <code>grouper</code> property, which contains the value of the key shared by each of this group's items, and <code>list</code>, which contains a list of the items sharing that property value.</p>
                            <p>For example, this snippet would group immunizations by the name of the immunization (represented by each record's <code>product.name</code>):</p>
                            <pre>
{% for group in immunizations|group('product.name') %}
    {% if loop.first %}&lt;ul&gt;{% endif %}
    &lt;li&gt;
        &lt;h2&gt;{{group.grouper}}&lt;/h2&gt;
        {% for item in group.list %}
            {% if loop.first %}&lt;ul class="pills"&gt;{% endif %}
            &lt;li&gt;{{item.date|date('M j, Y')}}&lt;/li&gt;
            {% if loop.last %}&lt;/ul&gt;{% endif %}
        {% endfor %}
    &lt;/li&gt;
    {% if loop.last %}&lt;/ul&gt;{% endif %}
{% else %}
    &lt;p&gt;No known immunizations&lt;/p&gt;
{% endfor %}</pre>
                        <h3>intersects(<em>comparand</em>)</h3>
                            <p>Given two arrays, this filter returns values found in both.</p>
                            <p>eg: <code>{{ list1|intersects(list2) }}</code></p>
                        <h3>max_severity</h3>
                            <p>Given a list of allergies, this tag returns the maximum severity found. Possible returned values:</p>
                            <ul>
                                <li>"severe" or "multiple severe"</li>
                                <li>"moderate" or "multiple moderate"</li>
                                <li>"mild" or "multiple mild"</li>
                                <li>"no"</li>
                            </ul>
                            <p>Only the highest of these groups will be returned. So a patient with one severe allergy and two moderate allergies will return "severe".</p>
                        <h3>related_by_date(<em>kind</em>)</h3>
                            <p>Given an object with either a <code>date</code> or <code>date_range</code> attribute, this filter finds other objects of of type <code>kind</code> that share the same dates.</p>
                            <p>This filter currently supports <code>encounters</code>, <code>procedures</code>, <code>problems</code>, <code>immunizations</code>, <code>medications</code>, and <code>labs</code> for the value of <code>kind</code>.</p>
                        <h3>slice(<em>start</em>, <em>end</em>)</h3>
                            <p>Provides an interface to Javascript's <code>slice</code> function, returning a subset of the filtered list. Takes two arguments:</p>
                            <ul>
                                <li><strong>start</strong> &mdash; An integer, the index of the first item that should be returned. The first item has an index of 0.</li>
                                <li><strong>end</strong> &mdash; Optional, an integer, the index where the selection should end.</li>
                            </ul>
                    </div>
                </div>
                <div id="contributing" class="row chapter">
                    <h1 class="span12">Contributing</h1>
                    <p class="span10 offset2">This is just the beginning &mdash; there's far more to do, and we can use all the help we can get. If you're interested, here are a few places to start:</p>
                    <ul class="span10 offset2">
                        <li><strong>Report Bugs</strong> &mdash; Find something amiss? Please let us know by logging an issue over at <a href="https://github.com/mjacksonw/bbClear/issues">GitHub</a>.</li>
                        <li><strong>Submit Patches</strong> &mdash; If you have an interesting enhancement to offer, we're happy to review pull requests via <a href="https://github.com/mjacksonw/bbClear/">GitHub</a> as well.</li>
                        <li><strong>Build Themes</strong> &mdash; We created a very simple theme to start with, but we encourage you to take things much further. If you'd like to offer your theme to the public, consider submitting it as a pull request for inclusion in the codebase.</li>
                        <li><strong>Make Suggestions</strong> &mdash; There's plenty more to do already, but if you have a terrific idea, don't hold back. Submit your enhancement ideas as <a href="https://github.com/mjacksonw/bbClear/issues">issues</a> on GitHub and we'll see what we can do.</li>
                    </ul>
                </div>
            </div>
        </section>
        <footer>
            <div class="container"><div class="row">
                <div id="contributors" class="span3">
                    <h1>Core Contributors</h1>
                    <ul>
                        <li><a href="http://twitter.com/mjacksonw/">@mjacksonw</a></li>
                        <li><a href="http://twitter.com/blacktm/">@blacktm</a></li>
                        <li><a href="http://twitter.com/joshcmandel/">@joshcmandel</a></li>
                        <li><a href="http://twitter.com/rypan/">@rypan</a></li>
                        <li><a href="http://twitter.com/henryweimd/">@henryweimd</a></li>
                        <li><a href="http://twitter.com/matthewmccall/">@matthewmccall</a></li>
                    </ul>
                </div>
                <div id="supporters" class="span5 offset1">
                    <h1>Supported by</h1>
                    <p>The <a href="http://www.chcf.org/">California Healthcare Foundation</a>, based in Oakland, California; the <a href="http://www.va.gov/">Department of Veterans Affairs</a>; and the sponsors of and participants in the <a href="http://healthdesignchallenge.com/">Health Design Challenge</a>. Thank you!</p>
                </div>
                <div id="license" class="span2 offset1">
                    <p>Copyright &copy; 2013<br /><a href="http://mjacksonw.com">M. Jackson Wilkinson</a>.</p>
                    <p>Licensed to all under the <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache License 2.0</a>.</p>
                </div>
            </div></div>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/main.js"></script>
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
