@import "compass/css3";
@import "compass/utilities";

$severe: #c33;
$warning: #e70;
$light: #ddd;

$dark_text: #333;
$soft_text: #666;
$light_text: #f8f8f8;

body {
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    color: $dark_text;
}

section.bb-template {
    width: 800px;
    margin: 0 auto;
}

div.panel {
    padding: 50px 0;
    border-bottom: 1px solid $light;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }
}

div#demographics {
    font-size: 26px;
    font-weight: 300;

    h1 {
        font-size: 50px;
        margin-bottom: 30px;
    }

    strong.severe {
        color: $light_text;
        background: $severe;
    }

    dl {
        @include clearfix;
        list-style-type: none;
        font-size: 18px;
    }

    dl li {
        width: 25%;
        float: left;
    }

    dt {
        text-transform: lowercase;
        color: $soft_text;
    }

    dd {
        font-weight: bold;
        margin-left: 0;
    }
}

div#allergies {
    h1 {
        margin-bottom: 30px;
    }

    ul {
        @include clearfix;
        list-style-type: none;
        margin: 0; padding: 0;
    }

    li {
        float: left;
        margin: 0; padding: 0;
        width: 380px;
        margin-right: 20px;
        margin-bottom: 20px;
        background: $light;
        @include box-sizing(border-box);
        padding: 20px;


        &.allergy-severe {
            background: $severe;
            color: $light_text;
        }

        &.allergy-moderate {
            background: $warning;
            color: $light_text;
        }

        h2, p {
            margin-top: 0;
            margin-bottom: 2px;
            font-size: 18px;
        }

        p {
            font-weight: 300;
            font-size: 18px;
        }
    }
}
