@import "compass/css3";
@import "compass/utilities";

$severe: #c33;
$warning: #e70;
$light: #ddd;
$very_light: #f8f8f8;

$dark_text: #333;
$soft_text: #666;
$light_text: #f8f8f8;

$module_width: 380px;
$module_space: 20px;

body {
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    color: $dark_text;
}

section.bb-template {
    width: 800px;
    margin: 0 auto;
    display: none;
}

.panel {
    padding: 50px 0;
    border-bottom: 1px solid $light;

    h1 {
        font-size: 30px;
        margin-bottom: 30px;
    }
}

a {
    color: inherit;
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }
}

ul.pills {
    @include clearfix;
    margin: 0; padding: 10px 0 0 0;

    li {
        float: left;
        display: inline-block;
        padding: 2px 7px;
        margin-right: 5px;
        background: $light;
        @include border-radius(20px);
        font-size: 12px;
        border: 1px solid #ccc;
    }
}

.listless {
    @include clearfix;
    list-style-type: none;
    margin: 0; padding: 0;
}

.module {
    float: left;
    margin: 0 $module_space $module_space 0;
    padding: $module_space;
    width: 380px;
    background: $very_light;
    @include box-sizing(border-box);

    h2, p {
        margin-top: 0;
        margin-bottom: 2px;
        font-size: 18px;
    }

    p, header small {
        font-weight: 300;
        font-size: 18px;
    }
}

.container {
    @include clearfix;
    width: 800px;
    margin: 0 auto;
}

nav#primaryNav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    @include box-sizing(border-box);
    background: #eee;
    @include background-image(linear-gradient(top, #eee, #ddd));
    @include box-shadow(0px 0px 15px rgba(0,0,0,0.1));
    z-index: 900;

    h1 {
        margin: 12px 0;
        padding: 0;
        width: 350px;
        float: left;
        font-size: 20px;
        font-weight: normal;
        color: #bbb;
    }

    ul {
        @extend .listless;
        float: right;

        li {
            padding: 18px 0;
            float: left;
            margin-right: 15px;
            font-size: 11px;
            text-transform: uppercase;
            color: $soft_text;

            &:hover {
                border-bottom: 2px solid #aaa;
            }

            a:hover {
                text-decoration: none;
            }
        }
    }
}

div#demographics {
    @extend .panel;
    font-size: 26px;
    font-weight: 300;

    h1 {
        font-size: 50px;
    }

    strong.severe {
        color: $light_text;
        background: $severe;
    }

    dl {
        @include clearfix;
        list-style-type: none;
        font-size: 18px;
    }

    dl li {
        width: 25%;
        float: left;
    }

    dt {
        text-transform: lowercase;
        color: $soft_text;
    }

    dd {
        font-weight: bold;
        margin-left: 0;
    }
}

div#allergies {
    @extend .panel;

    ul { @extend .listless; }

    li {
        @extend .module;

        &.allergy-severe {
            background: $severe;
            color: $light_text;
        }

        &.allergy-moderate {
            background: $warning;
            color: $light_text;
        }
    }
}

div#medications{
    @extend .panel;

    ul { @extend .listless; }

    ul>li {
        @extend .module;
        border: 1px solid #ddd;

        &.odd {
            clear: left;
        }

        dl {
            @include clearfix;
            font-size: 13px;

            li {
                width: 50%;
                float: left;
            }

            dt {
                font-weight: 300;
                color: $soft_text;
            }

            dd {
                margin: 0;
                font-weight: bold;
            }
        }
    }
}

div#immunizations {
    @extend .panel;

    >ul { @extend .listless; }
    >ul>li {
        @extend .module;
        border: 1px solid #ddd;
    }
}

div#history {
    @extend .panel;

    >ul {
        @extend .listless;
        padding-left: 40px;
        margin-left: 20px;
        border-left: 1px solid $light;
        z-index: 1;

        >li:before {
            content:".";
            display: block;
            position: absolute;
            background: #666;
            height: 35px;
            width: 35px;
            text-indent: 100%;
            overflow: hidden;
            margin-left: -60px;
            z-index: 999;
        }
        >li {
            h2 {
                font-size: 18px;
                font-weight: bold;
                margin-top: 0;
                padding: 6px 0;
                margin-bottom: 20px;
            }

            dl>li {
                margin-bottom: 30px;
            }

            dt {
                color: $soft_text;
                font-size: 20px;
                font-weight: 300;
                text-transform: lowercase;
            }

            dd {
                color: $soft_text;
                font-size: 20px;
                margin: 0; padding: 0;
                font-weight: 300;

                &.head {
                    font-size: 24px;
                    color: $dark_text;
                    font-weight: bold;

                    &:before {
                        content:".";
                        display: block;
                        position: absolute;
                        background: #666;
                        height: 15px;
                        width: 15px;
                        text-indent: 100%;
                        overflow: hidden;
                        margin-left: -48px;
                        margin-top: 10px;
                        z-index: 999;
                    }
                }
            }
        }
    }
}

div#labs {
    @extend .panel;

    >ul { @extend .listless; }

    h2 .date {
        float: right;
        font-weight: 300;
        color: $soft_text;
    }

    ul.results {
        @extend .listless;
        display: table;
        width: 100%;
        border: 1px solid $light;
        border-right: none;
        @include box-sizing(border-box);

        li { display: table-row; }
        li.header span {
            background: $light;
            font-weight: bold;
        }

        span {
            display: table-cell;
            padding: 20px;
            border-right: 1px solid $light;
            color: $soft_text;

            &.lab-component {
                font-weight: bold;
            }
        }
    }
}

div#loader {
    display: none;
    width: 304px;
    margin: 100px auto;
    text-align: center;
    color: #ccc;

    #warningGradientOuterBarG{
        height:38px;
        width:304px;
        border:2px solid #eee;
        overflow:hidden;
        background-color:#f8f8f8;
        @include background-image(linear-gradient(top, #f8f8f8, #eee));
    }

    .warningGradientBarLineG{
        background-color:#f8f8f8;
        float:left;
        width:27px;
        height:228px;
        margin-right:46px;
        margin-top:-53px;
        @include rotate(45deg);
    }

    .warningGradientAnimationG{
        width:448px;
        -moz-animation-name:warningGradientAnimationG;
        -moz-animation-duration:1.3s;
        -moz-animation-iteration-count:infinite;
        -moz-animation-timing-function:linear;
        -webkit-animation-name:warningGradientAnimationG;
        -webkit-animation-duration:1.3s;
        -webkit-animation-iteration-count:infinite;
        -webkit-animation-timing-function:linear;
        -ms-animation-name:warningGradientAnimationG;
        -ms-animation-duration:1.3s;
        -ms-animation-iteration-count:infinite;
        -ms-animation-timing-function:linear;
        -o-animation-name:warningGradientAnimationG;
        -o-animation-duration:1.3s;
        -o-animation-iteration-count:infinite;
        -o-animation-timing-function:linear;
        animation-name:warningGradientAnimationG;
        animation-duration:1.3s;
        animation-iteration-count:infinite;
        animation-timing-function:linear;
    }

}

@-moz-keyframes warningGradientAnimationG {
    0% { margin-left:-72px; }
    100% { margin-left:0px; }
}

@-webkit-keyframes warningGradientAnimationG{
    0% { margin-left:-72px; }
    100% { margin-left:0px; }
}

@-ms-keyframes warningGradientAnimationG{
    0% { margin-left:-72px; }
    100% { margin-left:0px; }
}

@-o-keyframes warningGradientAnimationG{
    0% { margin-left:-72px; }
    100% { margin-left:0px; }
}

@keyframes warningGradientAnimationG{
    0% { margin-left:-72px; }
    100% { margin-left:0px; }
}
