<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Blue Button Health Record</title>
        <meta name="description" content="Patient health records in the Blue Button format.">
        <meta name="viewport" content="width=device-width">
        <meta name="author" content="M. Jackson Wilkinson / jackson@jounce.net / @mjacksonw">
        {% insert: styles %}
        <script src="themes/official/js/01-modernizr-2.6.2.min.js"></script>
        <script src="themes/official/js/02-jquery-1.9.0.min.js"></script>
        <script src="themes/official/js/03-swig.min.js"></script>
        <script src="themes/official/js/04-bluebutton.js"></script>
        <script src="themes/official/js/10-bluebutton-theme.js"></script>
    </head>
    <body>
        <section class="bb-template">
            <nav id="primaryNav">
                <div class="container">
                    <h1>Blue Button Health Record</h1>
                    <ul>
                        <li><a href="#demographics">Profile</a></li>
                        <li><a href="#allergies">Allergies</a></li>
                        <li><a href="#medications">Medications</a></li>
                        <li><a href="#immunizations">Immunizations</a></li>
                        <li><a href="#history">History</a></li>
                        <li><a href="#labs">Labs</a></li>
                    </ul>
                </div>
            </nav>
            <div id="demographics" class="panel">
                <h1>{{demographics.name|full_name}}</h1>
                <p class="narrative">
                    <span class="general">
                        <strong>{{demographics.name|display_name}}</strong> is a <strong>52</strong> year old <strong>{{demographics.race}}
                        {{demographics.gender}}</strong> who is <strong>{{demographics.religion}}</strong> and speaks <strong>English</strong>.
                    </span>
                    <span class="allergies">
                        {{demographics.gender|gender_pronoun|title}} has <strong class="{{allergies|max_severity}}">{{allergies|max_severity}} allergies</strong>.
                    </span>
                    <span class="yearReview">
                        In the past year, {{demographics.gender|gender_pronoun}}
                        <span id="yearReviewEncounters">
                            {% if encounters|length === 0 %}
                                did not have medical encounters
                            {% else %}
                                had <strong>medical encounters</strong>
                            {% endif %}
                        </span> and has <span id="yearReviewMedications">
                            {% if medications|length === 0 %}
                                not had any medications prescribed.
                            {% else %}
                                been <strong>prescribed medications</strong>.
                            {% endif %}
                        </span>
                    </span>
                </p>
                <dl id="demographicsExtras">
                    <li>
                        <dt>Birthday</dt>
                        <dd>{{demographics.dob|date("F j, Y")}}</dd>
                    </li>
                    <li>
                        <dt>Address</dt>
                        {% if demographics.address.street|length == 2 %}
                            {% for line in demographics.address.street %}
                            <dd>{{line}}</dd>
                            {% endfor %}
                        {% else %}
                        <dd>{{demographics.address.street}}</dd>
                        {% endif %}
                        <dd>{{demographics.address.city}}, {{demographics.address.state}} {{demographics.address.zip}}</dd>
                    </li>
                    <li>
                        <dt>Telephone</dt>
                        {% for number in demographics.phone %}
                            {% if number %}<dd class="phone-{{loop.key}}">{{loop.key|slice(0,1)}}: <a href="{{number}}">{{number|format_phone}}</a></dd>{% endif %}
                        {% else %}
                            <dd>No known number</dd>
                        {% endfor %}
                    </li>
                    {% if demographics.guardian %}<li>
                        <dt>{{demographics.guardian.relationship}}</dt>
                        <dd>{{demographics.guardian.name|full_name}}</dd>
                        {% for number in demographics.guardian.phone %}
                            {% if number %}<dd class="phone-{{loop.key}}">{{loop.key|slice(0,1)}}: <a href="{{number}}">{{number|format_phone}}</a></dd>{% endif %}
                        {% else %}
                            <dd>No known number</dd>
                        {% endfor %}
                    </li>{% endif %}
                </dl>
            </div>
            <div id="allergies" class="panel">
                <h1>Allergies</h1>
                {% for allergy in allergies %}
                    {% if loop.first %}<ul>{% endif %}
                    <li class="allergy-{{allergy|max_severity}}">
                        <h2>{{allergy.allergen.name}}</h2>
                        <p>{{allergy.severity}}</p>
                        <p>Causes {{allergy.reaction.name|lower}}</p>
                    </li>
                    {% if loop.last %}</ul>{% endif %}
                {% else %}
                    <p>No known allergies</p>
                {% endfor %}
            </div>
            <div id="medications" class="panel">
                <h1>Current Medications</h1>
                {% for med in medications %}
                    {% if loop.first %}<ul>{% endif %}
                    <li>
                        <header>
                            <h2>{{med.product.name}}</h2>
                            {% if med.administration.name %}<small>{{med.administration.name|title}}</small>{% endif %}
                            {% if med.reason.name %}<small>for {{med.reason.name}}</small>{% endif %}
                        </header>

                        <dl class="footer">
                            <li>
                                <dt>Prescriber</dt>
                                {% if med.prescriber.organization %}<dd>{{med.prescriber.organization}}</dd>{% endif %}
                                {% if med.prescriber.person %}<dd>{{med.prescriber.person}}</dd>{% endif %}
                            </li>
                            {% if med.effective_time.low or med.effective_time.high %}<li>
                                <dt>Date</dt>
                                <dd>
                                    {% if med.effective_time.low %}{{med.effective_time.low|date('M j, Y')}}{% endif %}
                                    {% if med.effective_time.high %}&ndash; {{med.effective_time.high|date('M j, Y')}}{% endif %}
                                </dd>
                            </li>{% endif %}
                        </dl>
                    </li>
                    {% if loop.last %}</ul>{% endif %}
                {% endfor %}
            </div>
            <div id="immunizations" class="panel">
                <h1>Immunizations</h1>
                {% for group in immunizations|group('product.name') %}
                    {% if loop.first %}<ul>{% endif %}
                    <li>
                        <h2>{{group.grouper}}</h2>
                        {% for item in group.list %}
                            {% if loop.first %}<ul class="pills">{% endif %}
                            <li>{{item.date|date('M j, Y')}}</li>
                            {% if loop.last %}</ul>{% endif %}
                        {% endfor %}
                    </li>
                    {% if loop.last %}</ul>{% endif %}
                {% endfor %}
            </div>
            <div id="history" class="panel">
                <h1>Medical History</h1>
                {% for encounter in encounters %}
                    {% if loop.first %}<ul>{% endif %}
                    <li>
                        <h2>{{encounter.date|date('M j, Y')}}</h2>
                        <dl>
                            <li>
                                <dt>Encounter</dt>
                                <dd class="head">{{encounter.name}}</dd>
                                {% if encounter.finding.name %}<dd>Finding: {{encounter.finding.name}}</dd>{% endif %}
                            </li>
                            {% for problem in encounter|related_by_date('problems') %}
                                <li>
                                    <dt>Problem</dt>
                                    <dd class="head">{{problem.name}}</dd>
                                </li>
                            {% endfor %}
                            {% for procedure in encounter|related_by_date('procedures') %}
                                <li>
                                    <dt>Procedure</dt>
                                    <dd class="head">{{procedure.name}}</dd>
                                </li>
                            {% endfor %}
                            {% for medication in encounter|related_by_date('medications') %}
                                <li>
                                    <dt>Medication</dt>
                                    <dd class="head">{{medication.product.name}}</dd>
                                </li>
                            {% endfor %}
                            {% for immunization in encounter|related_by_date('immunizations') %}
                                <li>
                                    <dt>Immunization</dt>
                                    <dd class='head'>{{immunization.product.name}}</dd>
                                </li>
                            {% endfor %}
                        </dl>
                    </li>
                    {% if loop.last %}</ul>{% endif %}
                {% endfor %}
            </div>
            <div id="labs" class="panel">
                <h1>Lab Results</h1>
                {% for panel in labs %}
                    {% if loop.first %}<ul>{% endif %}
                    <li>
                        <h2>
                            <span class="date">{{panel.results[0].date|date('M j, Y')}}</span>
                            {{panel.name}}
                        </h2>
                        <ul class="results">
                            <li class="header">
                                <span class="lab-component">Component</span>
                                <span class="lab-value">Value</span>
                                <span class="lab-low">Low</span>
                                <span class="lab-high">High</span>
                            </li>
                            {% for result in panel.results %}
                                <li>
                                    <span class="lab-component">{{result.name}}</span>
                                    <span class="lab-value">{{result.value}} {{result.unit|format_unit|raw}}</span>
                                    <span class="lab-low">{% if result.reference.low %}{{result.reference.low}}{% endif %}</span>
                                    <span class="lab-high">{% if result.reference.high %}{{result.reference.high}}{% endif %}</span>
                                </li>
                            {% endfor %}
                        </table>
                    </li>
                    {% if loop.last %}</ul>{% endif %}
                {% endfor %}
            </div>
        </section>
        <div id="loader">
            <div id="warningGradientOuterBarG">
                <div id="warningGradientFrontBarG" class="warningGradientAnimationG">
                    <div class="warningGradientBarLineG"></div>
                    <div class="warningGradientBarLineG"></div>
                    <div class="warningGradientBarLineG"></div>
                    <div class="warningGradientBarLineG"></div>
                    <div class="warningGradientBarLineG"></div>
                    <div class="warningGradientBarLineG"></div>
                </div>
            </div>
            <p>Reticulating splines...</p>
        </div>
    </body>
</html>
{% insert: data %}
