/* line 16, ../sass/screen.scss */
body {
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #333333;
}

/* line 21, ../sass/screen.scss */
section.bb-template {
  width: 800px;
  margin: 0 auto;
  display: none;
}

/* line 27, ../sass/screen.scss */
.panel, div#demographics, div#allergies, div#medications, div#immunizations, div#history, div#labs {
  padding: 50px 0;
  border-bottom: 1px solid #dddddd;
}
/* line 31, ../sass/screen.scss */
.panel h1, div#demographics h1, div#allergies h1, div#medications h1, div#immunizations h1, div#history h1, div#labs h1 {
  font-size: 30px;
  margin-bottom: 30px;
}

/* line 37, ../sass/screen.scss */
a {
  color: inherit;
  text-decoration: none;
}
/* line 41, ../sass/screen.scss */
a:hover {
  text-decoration: underline;
}

/* line 46, ../sass/screen.scss */
ul.pills {
  overflow: hidden;
  *zoom: 1;
  margin: 0;
  padding: 10px 0 0 0;
}
/* line 50, ../sass/screen.scss */
ul.pills li {
  float: left;
  display: inline-block;
  padding: 2px 7px;
  margin-right: 5px;
  background: #dddddd;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  font-size: 12px;
  border: 1px solid #ccc;
}

/* line 62, ../sass/screen.scss */
.listless, nav#primaryNav ul, div#allergies ul, div#medications ul, div#immunizations > ul, div#history > ul, div#labs > ul, div#labs ul.results {
  overflow: hidden;
  *zoom: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 68, ../sass/screen.scss */
.module, div#allergies li, div#medications ul > li, div#immunizations > ul > li {
  float: left;
  margin: 0 20px 20px 0;
  padding: 20px;
  width: 380px;
  background: #f8f8f8;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 76, ../sass/screen.scss */
.module h2, div#allergies li h2, div#medications ul > li h2, div#immunizations > ul > li h2, .module p, div#allergies li p, div#medications ul > li p, div#immunizations > ul > li p {
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 18px;
}
/* line 82, ../sass/screen.scss */
.module p, div#allergies li p, div#medications ul > li p, div#immunizations > ul > li p, .module header small, div#allergies li header small, div#medications ul > li header small, div#immunizations > ul > li header small {
  font-weight: 300;
  font-size: 18px;
}

/* line 88, ../sass/screen.scss */
.container {
  overflow: hidden;
  *zoom: 1;
  width: 800px;
  margin: 0 auto;
}

/* line 94, ../sass/screen.scss */
nav#primaryNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #eee;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -moz-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -o-linear-gradient(top, #eeeeee, #dddddd);
  background-image: linear-gradient(top, #eeeeee, #dddddd);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  z-index: 900;
}
/* line 106, ../sass/screen.scss */
nav#primaryNav h1 {
  margin: 12px 0;
  padding: 0;
  width: 350px;
  float: left;
  font-size: 20px;
  font-weight: normal;
  color: #bbb;
}
/* line 116, ../sass/screen.scss */
nav#primaryNav ul {
  float: right;
}
/* line 120, ../sass/screen.scss */
nav#primaryNav ul li {
  padding: 18px 0;
  float: left;
  margin-right: 15px;
  font-size: 11px;
  text-transform: uppercase;
  color: #666666;
}
/* line 128, ../sass/screen.scss */
nav#primaryNav ul li:hover {
  border-bottom: 2px solid #aaa;
}
/* line 132, ../sass/screen.scss */
nav#primaryNav ul li a:hover {
  text-decoration: none;
}

/* line 139, ../sass/screen.scss */
div#demographics {
  font-size: 26px;
  font-weight: 300;
}
/* line 144, ../sass/screen.scss */
div#demographics h1 {
  font-size: 50px;
}
/* line 148, ../sass/screen.scss */
div#demographics strong.severe {
  color: #f8f8f8;
  background: #cc3333;
}
/* line 153, ../sass/screen.scss */
div#demographics dl {
  overflow: hidden;
  *zoom: 1;
  list-style-type: none;
  font-size: 18px;
}
/* line 159, ../sass/screen.scss */
div#demographics dl li {
  width: 25%;
  float: left;
}
/* line 164, ../sass/screen.scss */
div#demographics dt {
  text-transform: lowercase;
  color: #666666;
}
/* line 169, ../sass/screen.scss */
div#demographics dd {
  font-weight: bold;
  margin-left: 0;
}

/* line 183, ../sass/screen.scss */
div#allergies li.allergy-severe {
  background: #cc3333;
  color: #f8f8f8;
}
/* line 188, ../sass/screen.scss */
div#allergies li.allergy-moderate {
  background: #ee7700;
  color: #f8f8f8;
}

/* line 200, ../sass/screen.scss */
div#medications ul > li {
  border: 1px solid #ddd;
}
/* line 204, ../sass/screen.scss */
div#medications ul > li.odd {
  clear: left;
}
/* line 208, ../sass/screen.scss */
div#medications ul > li dl {
  overflow: hidden;
  *zoom: 1;
  font-size: 13px;
}
/* line 212, ../sass/screen.scss */
div#medications ul > li dl li {
  width: 50%;
  float: left;
}
/* line 217, ../sass/screen.scss */
div#medications ul > li dl dt {
  font-weight: 300;
  color: #666666;
}
/* line 222, ../sass/screen.scss */
div#medications ul > li dl dd {
  margin: 0;
  font-weight: bold;
}

/* line 234, ../sass/screen.scss */
div#immunizations > ul > li {
  border: 1px solid #ddd;
}

/* line 243, ../sass/screen.scss */
div#history > ul {
  padding-left: 40px;
  margin-left: 20px;
  border-left: 1px solid #dddddd;
  z-index: 1;
}
/* line 250, ../sass/screen.scss */
div#history > ul > li:before {
  content: ".";
  display: block;
  position: absolute;
  background: #666;
  height: 35px;
  width: 35px;
  text-indent: 100%;
  overflow: hidden;
  margin-left: -60px;
  z-index: 999;
}
/* line 263, ../sass/screen.scss */
div#history > ul > li h2 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
  padding: 6px 0;
  margin-bottom: 20px;
}
/* line 271, ../sass/screen.scss */
div#history > ul > li dl > li {
  margin-bottom: 30px;
}
/* line 275, ../sass/screen.scss */
div#history > ul > li dt {
  color: #666666;
  font-size: 20px;
  font-weight: 300;
  text-transform: lowercase;
}
/* line 282, ../sass/screen.scss */
div#history > ul > li dd {
  color: #666666;
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-weight: 300;
}
/* line 288, ../sass/screen.scss */
div#history > ul > li dd.head {
  font-size: 24px;
  color: #333333;
  font-weight: bold;
}
/* line 293, ../sass/screen.scss */
div#history > ul > li dd.head:before {
  content: ".";
  display: block;
  position: absolute;
  background: #666;
  height: 15px;
  width: 15px;
  text-indent: 100%;
  overflow: hidden;
  margin-left: -48px;
  margin-top: 10px;
  z-index: 999;
}

/* line 317, ../sass/screen.scss */
div#labs h2 .date {
  float: right;
  font-weight: 300;
  color: #666666;
}
/* line 323, ../sass/screen.scss */
div#labs ul.results {
  display: table;
  width: 100%;
  border: 1px solid #dddddd;
  border-right: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 331, ../sass/screen.scss */
div#labs ul.results li {
  display: table-row;
}
/* line 332, ../sass/screen.scss */
div#labs ul.results li.header span {
  background: #dddddd;
  font-weight: bold;
}
/* line 337, ../sass/screen.scss */
div#labs ul.results span {
  display: table-cell;
  padding: 20px;
  border-right: 1px solid #dddddd;
  color: #666666;
}
/* line 343, ../sass/screen.scss */
div#labs ul.results span.lab-component {
  font-weight: bold;
}

/* line 350, ../sass/screen.scss */
div#loader {
  display: none;
  width: 304px;
  margin: 100px auto;
  text-align: center;
  color: #ccc;
}
/* line 357, ../sass/screen.scss */
div#loader #warningGradientOuterBarG {
  height: 38px;
  width: 304px;
  border: 2px solid #eee;
  overflow: hidden;
  background-color: #f8f8f8;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #eeeeee);
  background-image: -moz-linear-gradient(top, #f8f8f8, #eeeeee);
  background-image: -o-linear-gradient(top, #f8f8f8, #eeeeee);
  background-image: linear-gradient(top, #f8f8f8, #eeeeee);
}
/* line 366, ../sass/screen.scss */
div#loader .warningGradientBarLineG {
  background-color: #f8f8f8;
  float: left;
  width: 27px;
  height: 228px;
  margin-right: 46px;
  margin-top: -53px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 376, ../sass/screen.scss */
div#loader .warningGradientAnimationG {
  width: 448px;
  -moz-animation-name: warningGradientAnimationG;
  -moz-animation-duration: 1.3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -webkit-animation-name: warningGradientAnimationG;
  -webkit-animation-duration: 1.3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -ms-animation-name: warningGradientAnimationG;
  -ms-animation-duration: 1.3s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-animation-name: warningGradientAnimationG;
  -o-animation-duration: 1.3s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
  animation-name: warningGradientAnimationG;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-moz-keyframes warningGradientAnimationG {
  /* line 403, ../sass/screen.scss */
  0% {
    margin-left: -72px;
  }

  /* line 404, ../sass/screen.scss */
  100% {
    margin-left: 0px;
  }
}

@-webkit-keyframes warningGradientAnimationG {
  /* line 408, ../sass/screen.scss */
  0% {
    margin-left: -72px;
  }

  /* line 409, ../sass/screen.scss */
  100% {
    margin-left: 0px;
  }
}

@-ms-keyframes warningGradientAnimationG {
  /* line 413, ../sass/screen.scss */
  0% {
    margin-left: -72px;
  }

  /* line 414, ../sass/screen.scss */
  100% {
    margin-left: 0px;
  }
}

@-o-keyframes warningGradientAnimationG {
  /* line 418, ../sass/screen.scss */
  0% {
    margin-left: -72px;
  }

  /* line 419, ../sass/screen.scss */
  100% {
    margin-left: 0px;
  }
}

@keyframes warningGradientAnimationG {
  /* line 423, ../sass/screen.scss */
  0% {
    margin-left: -72px;
  }

  /* line 424, ../sass/screen.scss */
  100% {
    margin-left: 0px;
  }
}
